# Cache for eggs required by setuptools itself, per `setup_requires` and
# `tests_require` directives.
/.eggs/

# Created by `setup.py test`:
/src/datapunt_config_loader.egg-info/

# Created by `setup.py dist`:
/dist/

# Created by `make testcov` (ie. `pytest --cov`):
/.coverage

# Virtual environments:
/.venv/

# Sphinx documentation
/sphinx/.doctrees
/sphinx/*.inv
/sphinx/*.inv.txt

